* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: 'Gilda Display', serif; */
  font-family: 'Bebas Neue', sans-serif;
  font-style: oblique;
  font-weight: 100;
}

/* body{
  
} */

.video {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  width: 350px;
  opacity: 0%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navContainer {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  background-color: #ffdf4f;
  /* box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.3); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #e22036;
  padding: 8px;
  z-index: 2;
  font-family: "Oswald", sans-serif;
  transition: 0.5s ease-in-out;
}
.navContainer-bg {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  /* box-shadow: 0px 8px 32px 0 rgba(0,0,0,0.3); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  padding: 8px;
  z-index: 2;
  font-family: "Oswald", sans-serif;
  transition: 0.5s ease-in-out;
}

.navName {
  margin-left: 33px;
  height: 50px;

}

.navList {
  list-style: none;
  display: flex;
  align-self: center;
  margin-right: 7px;
  color: black;
  
}

.navList > li {
  padding-right: 30px;
  font-style: normal;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 100px;
  flex-wrap: wrap;
}
.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 70px;
}
.section-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px;
  line-height: 170%;
}

.section img {
  max-height: 490px;
  height: auto;
  width: 45%;
  margin: 10px;
  border-radius: 5px;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.034) 0px 4px 2px,
    rgba(0, 0, 0, 0.038) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.027) 0px 32px 16px;
}
.section-1 img {
  max-height: 390px;
  /* max-width: 370px; */
  height: auto;
  width: 100%;
  margin: 10px;
  margin-top: 50px;
  border-radius: 5px;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.034) 0px 4px 2px,
    rgba(0, 0, 0, 0.038) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.027) 0px 32px 16px;
}

.section h1 {
  margin: 50px;
  margin-bottom: -50px;
}

.section p {
  margin: 40px;
  padding: 15px;
  width: 500px;
}

#Home #Menu #Contact {
  width: 100%;
  height: 720px;
}

.Footer {
  width: 100%;
  height: 460px;
  object-fit: cover;
  position: absolute;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
}

.ename {
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.741);
 
  border: white solid ;
}

.e-email {
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.741);
  
  border: white solid ;
}

.esubject {
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.741);
  
  border: white solid ;
}

.e-btn {
  width: 100px;

  border: white solid 0px;
  padding: 6px;
  transition: ease-in-out 0.2s;
}

.e-btn:hover {
  background-color: rgb(135, 184, 186);
  transition: ease-in-out 0.2s;
}
@media only screen and (max-width: 600px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .section p {
    margin: 40px;
    padding: 15px;
    width: 300px;
  }
  
  .section img {
    width: 350px;
  } 
  .section-top {

    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10%;
    font-weight: lighter;
    font-size: medium;
    line-height: 130%;
  }
}


.container-one{
display: flex;
justify-content: space-around;

}

.container-one__text {
  width: auto;
}

.container-one__image {
  height: 300px;
  width: auto;
}


.container-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.container-two__text {
  max-width: 500px;
}

.container-two__image {
  height: 300px;
  width: auto;
}

.container-three {
  display: flex;
  justify-content: space-around;
}

.container-three__text{
  max-width: 500px;
}

.container-three__image  {
  height: 300px;
  width: auto;
}

.container-one,
.container-two,
.container-three {
  font-family: "Oswald", sans-serif;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  margin: 80px;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.container-one__image,
.container-two__image,
.container-three__image {
  height: 200px;
  width: auto;
  align-self: center;
  /* Additional styles for the images */
}

.container-one__text,
.container-two__text,
.container-three__text {
  max-width: 700px;
  line-height: 150%;
  margin: 50px;
  /* Additional styles for the text containers */
}
.container-one__text > h1,
.container-two__text > h1,
.container-three__text > h1 {
  max-width: 500px;
  line-height: 150%;
  /* Additional styles for the text containers */
}

/* Media Query for screens smaller than 768px */
@media (max-width: 999px) {
  .container-one,
  .container-two
   {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .container-three{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .container-one__text,
  .container-two__text,
  .container-three__text {
    width: 130%;
    max-width: 700px;
  line-height: 100%;
    /* margin-bottom: 20%; */
  }
  
  .container-one__image,
  .container-two__image,
  .container-three__image {
    height: auto;
    width: 75%;
  }
}

